In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Import dataset
dataset = pd.read_csv("~/Documents/Python/carbon-emissions-EDA/emissions.csv")
df = dataset.copy()

In [3]:
df.head()

,year,parent_entity,parent_type,commodity,production_value,production_unit,total_emissions_MtCO2e
0,1962,Abu Dhabi National Oil Company,State-owned Entity,Oil & NGL,0.91250,Million bbl/yr,0.363885
1,1962,Abu Dhabi National Oil Company,State-owned Entity,Natural Gas,1.84325,Bcf/yr,0.134355
2,1963,Abu Dhabi National Oil Company,State-owned Entity,Oil & NGL,1.82500,Million bbl/yr,0.727770
3,1963,Abu Dhabi National Oil Company,State-owned Entity,Natural Gas,4.42380,Bcf/yr,0.322453
4,1964,Abu Dhabi National Oil Company,State-owned Entity,Oil & NGL,7.30000,Million bbl/yr,2.911079

In [4]:
df.describe()

               year  production_value  total_emissions_MtCO2e
count  12551.000000      12551.000000            12551.000000
mean    1987.148116        412.712258              113.219734
std       29.202455       1357.569683              329.812666
min     1854.000000          0.004398                0.000321
25%     1973.000000         10.601353                8.785294
50%     1994.000000         63.203536               33.058688
75%     2009.000000        320.664764              102.154596
max     2022.000000      27192.000000             8646.905949

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12551 entries, 0 to 12550
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    12551 non-null  int64
 1   parent_entity           12551 non-null  object
 2   parent_type             12551 non-null  object
 3   commodity               12551 non-null  object
 4   production_value        12551 non-null  float64
 5   production_unit         12551 non-null  object
 6   total_emissions_MtCO2e  12551 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 686.5+ KB

In [6]:
df.columns

Index(['year', 'parent_entity', 'parent_type', 'commodity', 'production_value',
       'production_unit', 'total_emissions_MtCO2e'],
      dtype='object')

## Cleaning the data

In [7]:
missing_values = df.isna().sum()
missing_values

year                      0
parent_entity             0
parent_type               0
commodity                 0
production_value          0
production_unit           0
total_emissions_MtCO2e    0
dtype: int64

In [8]:
duplicated_values = df.duplicated().sum()
duplicated_values

np.int64(0)